@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.login-container {
  background-image: url("./images/login_bg_01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  margin: 0;
  position: relative;

}

.verification-container-light{
  background-image: url("../images/login_light_bg_03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  margin: 0;
  position: relative;
}
.verification-container-dark{
  background-image: url("../images/login_dark_bg_04.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  margin: 0;
  position: relative;
}

.login-card {
  border-radius: 32px;

  box-shadow: 0px 10px 76px 0px rgba(0, 0, 0, 0.65);
}

.logo-name{
    /* color: #968864; */
font-family: "Bruno Ace SC";
font-size: 24px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
line-height: 30px; /* 125% */
}

.menu-icon:hover{
  background-color: none !important;

}
.drawer-dark  {
background-color: #091B25 !important;

}

.drawer-light  {
  background-color: #F6F4F1 !important;
  }
.dark-background{
  background: radial-gradient(49.77% 45.59% at 48.47% -1.07%, rgba(29, 63, 88, 0.83) 0%, #081017 100%);
}
.light-background{
  background: #fff;
}
.slick-slider{
  text-align: center;
  margin: 40px 200px;

}

::-webkit-scrollbar {
  display: none;
}

.slick-slider .slick-slide {
  transition: transform 0.3s ease;
}

.slick-slide img {
  display: block;
  width: 90%;
  height: 320px;
  transition: height 0.3s ease-in-out;
}

.slick-slide .active img{
  height: 350px;
  
}
.slick-slide .unActive{
  margin-top: 30px;
}
.slick-slide .text-below{
  margin-top: 30px;
}

@media (max-width: 768px) {
  .slick-slider{
    margin: 0px;
  
  }
  
  
  
  
  
}

@media (max-width: 480px) {
  .slick-slider{
    margin: 0px;
  
  }
  .slick-slide .active img{
    height: 320px;
    
  }
  .slick-slide .unActive{
    margin-top: 0px;
  }
  
  .slick-current img{
    height: 350px;
  }
  .slick-cloned{
    width: 240px !important;
  }
  .drawer-dark  {
    background-color: none !important;
    
    }
    .drawer-light  {
      background-color: none !important;
      
      }
}